.pagination
  display: flex
  li
    margin: 0 5px
    a
      color: #787878
      +_media-lg-up
        &:hover
          color: $orange
    &.active
      color: $orange
    &:last-child
      margin-right: 0
  &__num
    display: flex
  &__shown
    margin-left: 5px

  +_media-lg-down
    display: none
.mobile-load-more
  background: #fd947f
  color: white
  font-weight: 300
  text-transform: uppercase
  font-size: 2rem
  width: 100%
  max-width: 320px
  height: 50px
  text-align: center
  line-height: 50px
  display: none
  margin: 20px auto
